<div class="calculator">
  <div class="calculator__container">
    <h2 class="calculator__title">Калькулятор</h2>

    <div class="calculator__variables">
      @for (variable of variables; let idx = $index; track idx) {
      <div class="calculator__variable">
        @if (idx !== 0) {
        <div>
          <select
            class="calculator__select calculator__select--operation"
            [(ngModel)]="variable.operation"
          >
            @for (op of operations; track $index) {
            <option [value]="op">
              {{ op }}
            </option>
            }
          </select>
        </div>
        }

        <input
          type="number"
          class="calculator__input"
          [(ngModel)]="variable.value"
        />

        <select class="calculator__select" [(ngModel)]="variable.modifier">
          @for (mod of modifiers; track mod) {
          <option [value]="mod">
            {{ mod === "none" ? "нет" : mod }}
          </option>
          }
        </select>
        <button
          class="calculator__remove"
          (click)="removeVariable(idx)"
          title="Удалить переменную"
        >
          ×
        </button>
      </div>
      }
      <button
        (click)="addVariable()"
        class="calculator__button calculator__button--add"
      >
        Добавить переменную
      </button>
    </div>

    <span class="calculator__result">
      {{ result !== undefined ? result : "Нажмите Рассчитать" }}
    </span>

    <button (click)="calc()" class="calculator__button">Рассчитать</button>
  </div>

  <div class="calculator__history">
    <h3>История операций</h3>
    <ul>
      @for (element of history; let idx = $index; track idx) {
      <li>{{ element }}</li>
      }
    </ul>
    <button class="calculator__button" (click)="clearHistory()">
      Очистить Историю
    </button>
  </div>
</div>
